body {
    font: 13px arial;
    width: 270px;
    overflow-x: hidden;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#progress {
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, red, yellow, green);
    display: inline-block;
}

    #progress strong {
        position: relative;
        top: -1px;
        cursor: default;
        transition: left ease 1s;
    }

ul {
    list-style: none;
    margin: 0 0 10px;
    padding: 0;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    background: #f1f1f1;
}

li {
    padding: 1px 4px;
    cursor: default;
    position: relative;
}

    li:first-child {
        font-weight: bold;
    }

    li:not(:first-child):before {
        content: '?' /*'⌛'*/;
        width: 20px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        color: orange;
    }

    li.true:before {
        content: '✓';
        color: green;
        font-weight: normal;
    }

    li.false:before {
        content: 'x';
        color: red;
    }

    li:not(:first-child) p:after {
        content: '◄';
        color: #999;
        font-size: 10px;
        margin-left: 5px;
        position: absolute;
        font-weight: bold;
        line-height: 17px;
        transition: transform .4s ease;
    }

    li:not(:first-child):hover p:after {
        color: black;
    }

    li p {
        display: inline;
    }

    li span {
        overflow: hidden;
        max-height: 0;
        max-width: 220px;
        display: block;
        margin-left: 30px;
        line-height: 23px;
        transition: all .4s ease;
    }

    li[data-active] p:after {
        transform: rotate(-90deg);
    }

    li[data-active] span {
        max-height: none;
    }

        li[data-active] span mark {
            line-height: normal;
            background: none;
            display: block;
            margin-top: .8em;
            font-style: italic;
            /*width: 400px;*/
        }
